.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 3px solid #333333;
  border-radius: 20px;
  flex-basis: calc(100 / 2 - 20px);
  padding: 10px;
  margin: 10px;
  background: #ffffff;
}
.title {
  margin: 0;
}
