.header__container {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.brand {
  display: flex;
}
.brand:hover {
  cursor: pointer;
}
.brand__name {
  margin: 10px;
  font-size: 55px;
}
a {
  all: unset;
}
