@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #fffcb3;
  font-size: 16px;
  font-family: 'Amatic SC';
}
